@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,800&display=swap');

* {
  box-sizing: border-box;
}

body,
button,
input {
  font-family: sans-serif;
}

body {
  background-color: hsl(0, 0%, 10%);
}

canvas {
  background-color: white;
  margin: 3rem 0;
}

.nameForm {
  margin-inline: auto;
  width: fit-content;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

.nameForm-input {
  font-size: 0.9rem;
  padding: 0.5rem 0.3rem;
  display: block;
  width: 100%;
}

.nameForm-button {
  background-color: hsl(162, 99%, 35%);
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 0.9rem;
  padding: 10px 20px;
  text-transform: uppercase;
  width: 100%;
}

.container {
  margin-inline: auto;
  width: min(90%, 900px);
  overflow: hidden;
}
